* {
    margin: 0px;
    padding: 0px;}

.gridwrapper {
display: grid;
width: 98.5vw;
height: 113vmax;
background-image: url(../img/patrick-tomasso-QMDap1TAu0g-unsplash.jpg);

grid-template-areas:
    "hn hn hn"
    "te te te"
    "te te te"
    "fo fo fo"
    ;
 
    grid-template-rows: (1fr 1fr 1fr 1fr);
    grid-template-columns: (1fr 1fr 1fr);
    column-gap: 5px;
}

 #logga{
    grid-area: hn;
    height: 200px;
    width: 100%; 
    display: grid;
    grid-template-areas: 
    "lo ar"
    ;
    grid-template-columns: 24% 76%;
    column-gap: 5px;
    background-color:   moccasin;
}
menu{
    grid-area: ar;
    width: 97.5%;
    height: 202px;
}
.text{
    grid-area: te;
    height: 900px;
    width: 800px;
    background-color:   moccasin;
    align-self: middle;
}

.footer{
    grid-area: fo;
    height: 100%;
    background-color: lightsteelblue;
}

#logo{
    grid-area: lo;
    height: auto;
    width: 100%;
}

.meny_system {
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.meny {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.meny:visited {
    color: mediumaquamarine;
}

.meny:hover {
    color: red;
}

#Agare{
    height: 300px;
    width: 250px;
}