* {
    margin: 0;
}

.gridwrapper {
display: grid;
width: 100vw;
height: 100vh;
background-image: url(../img/patrick-tomasso-QMDap1TAu0g-unsplash.jpg);

grid-template-areas:

    "HN a3 a3 a3 a3"
    "a1 a2 a2 a2 a4"
    "a1 a2 a2 a2 a4"
    "a1 a2 a2 a2 a5"
    "a1 a2 a2 a2 a5"
    "fo fo fo fo fo"
    ;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(1fr 1fr 1fr 1fr );
}

.Pizeria{
    grid-area: HN;
}
.articel1{
    grid-area: a1;
}
.articel2{
    grid-area: a2;
}
.articel3{
    grid-area: a3;
}
.articel4{
    grid-area: a4;
}
.articel5{
    grid-area: a5;
}

.footer{
    grid-area: fo;
}